{% extends "main.html" %}

{% block contents %}
<script>
    $(document).ready(function() {
        $("#summernote").summernote({
            height: 300,
            minHeight: null,
            maxHeight: null,
            callbacks: {
                onImageUpload: function(image) {
                    for(var i = 0 ; i < image.length ; i++) {
                        uploadImage(image[i]);
                    }
                }
            }
        });
    });

    function uploadImage(image) {
        var data = new FormData();
        data.append("image", image);

        var csrf_token = "{{csrf_token()}}"
        $.ajaxSetup({
            beforeSend: function(x, s) {
                if(!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(s.type)) {
                    x.setRequestHeader("X-CSRFToken", csrf_token)
                }
            }
        });
        $.ajax({
            url: "{{url_for('board.upload_image')}}",
            cache: false,
            contentType: false,
            processData: false,
            data: data,
            type: "post",
            success: function(url) {
                var image = $("<img>").attr("src", url).css('max-width', "900px");
                $("#summernote").summernote("insertNode", image[0]);
            },
            error: function(data) {
                console.log(data);
                alert(data);
            }
        });
    }
</script>

<script>
    function checkForm() {
        if($.trim($("#title").val()) == "") {
            alert("Enter the title.")
            $("#title").focus();
            return false;
        }
        if($.trim($("#summernote").val()) == "") {
            alert("Enter the contents.")
            $("#summernote").focus();
            return false;
        }
    }
</script>

<form name="form" method="POST" action="{{url_for('board.board_write')}}" onsubmit="return checkForm()" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <div class="form-group">
        <label for="name">Username</label>
        <input class="form-control" id="name" type="text" name="name" value="{{session['name']}}" readonly>
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" name="title" id="title" placeholder="type Title">
    </div>
    <div class="form-group">
        <label for="contents">Contents</label>
        <textarea rows="8" class="form-control" name="contents" id="summernote" placeholder="type contents"></textarea>
    </div>
    <div class="custom-file">
        <input class="custom-file-input" id="customFile" type="file" name="attachfile">
        <label class="custom-file-label" for="customFile">Choose File</label>
    </div>
    
    <div class="text-center"><input class="btn btn-primary" type="submit" value="Submit"></div>
</form>


<!--
<table>
    <form name="form" method="POST" action="{{url_for('board.board_write')}}" onsubmit="return checkForm()">
    <tr>
        <td>User</td>
        <td><input type="text" name="name" value="{{session['name']}}" readonly></td>
    </tr>
    <tr>
        <td>Title</td>
        <td><input type="text" name="title" id="title"></td>
    </tr>
    <tr>
        <td>Contents</td>
        <td><textarea name="contents" id="contents"></textarea></td>
    </tr>
    <tr>
        <td colspan="2"><input type="submit"></td>
    </tr>
    </form>
</table>
-->
{% endblock %}